In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import csv
import time

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [31]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.naukri.com/')
search_box=driver.find_element_by_id('qsb-keyword-sugg')
search_box.send_keys('Data Analyst')
location_name=driver.find_element_by_id("qsb-location-sugg")
location_name.send_keys('Bangalore')
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()
with open('All Job list from Noukri web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Job Titles', 'Company Name', 'Experiance','Job Locations']) 
    for n in range(0,50):
        for i in driver.find_elements_by_xpath("//div[@class='jobTupleHeader']"):
            if len(i.text.split('\n'))==5:
                row_lis=i.text.split('\n')
                row_lis.pop(3)
                writer.writerow(row_lis)
            else:
                row_lis=i.text.split('\n')
                row_lis.pop(2)
                row_lis.pop(2)
                row_lis.pop(3)
                writer.writerow(row_lis)
        time.sleep(5)
        driver.get(driver.find_element_by_xpath("//a[@class='fright fs14 btn-secondary br2']").get_attribute('href'))
f.close()

In [32]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Job list from Noukri web site.csv')

,Job Titles,Company Name,Experiance,Job Locations
0,Video Analyst Trainee,Innovary Technologies,0-1 Yrs,Bangalore/Bengaluru
1,Hiring For Business Development Executive/Mana...,Bhash Software Labs,0-4 Yrs,Bangalore/Bengaluru(HSR Layout)
2,Image Data Collection For Kannada speakers,appen,0-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
3,Investment Banking / Business Analyst / Collec...,Inspiration Manpower Consultancy Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
4,International Business Development Executive |...,Advids.co,0-3 Yrs,"Mysore/Mysuru, Pondicherry/Puducherry, Bangalo..."
5,Data Scientist (Github Projects Mandatory with...,The millionvisions,0-0 Yrs,Bangalore/Bengaluru
6,Business Development Executive -Inside Sales,Einfolge Technologies Pvt Ltd,0-5 Yrs,Bangalore/Bengaluru(Whitefield)
7,Financial Analyst,ENTELYGLOBAL SOLUTIONS PRIVATE LIMITED,0-1 Yrs,Bangalore/Bengaluru(5th Phase JP Nagar)
8,Analyst Research Analytics & Insights,Indegene Private Limited,0-3 Yrs,Bangalore/Bengaluru
9,Business Development Executive,Sollys Consulting and Solutions Pvt Ltd,0-1 Yrs,"Bangalore/Bengaluru, Banaswadi"
10,Tele-Sales Executive - Fresher,Global Shiksha India Pvt Ltd,0-5 Yrs,Bangalore/Bengaluru(Indira Nagar)
11,Sales Executive IN Medical Devices Company,B L Lifesciences Pvt. Ltd,0-2 Yrs,"Bhubaneswar, Kolkata, Mangaluru/Mangalore, Pun..."
12,Data Engineer,"Next Generation Technology, Inc",0-2 Yrs,Bangalore/Bengaluru
13,WE'RE Hiring Freshers ! HR Recruiter/ Analyst/...,Black and White Business Solutions Pvt Ltd,0-0 Yrs,Bangalore/Bengaluru(1st Stage Indira Nagar)
14,Hiring Fresher Process associate ( Voice Proce...,RANDSTAD INDIA PVT LTD,0-3 Yrs,Bangalore/Bengaluru
15,Hiring graduate freshers For HR executive / HR...,Ignites Human Capital Services Pvt Ltd.,0-1 Yrs,Bangalore/Bengaluru
16,Fresher hiring- Video labelling - Hyderabad,RANDSTAD INDIA PVT LTD,0-1 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
17,Project Associate (fresher opening),PRA Health Sciences,0-2 Yrs,Bangalore/Bengaluru
18,Clinical System Developer (fresher opening),PRA Health Sciences,0-2 Yrs,Bangalore/Bengaluru
19,Clinical System Tester (fresher opening),PRA Health Sciences,0-2 Yrs,Bangalore/Bengaluru
20,Data Scientist,Arnold Consulting Pvt Ltd,10-15 Yrs,Bangalore/Bengaluru
21,Adobe Analytics Analyst,Diverse Lynx,2-6 Yrs,Bangalore/Bengaluru
22,Lead Data Scientist,RGF Professional Recruitment,12-15 Yrs,Bangalore/Bengaluru
23,Data Scientist,Big Data BizViz (BizViz Technologies Pvt. Ltd),3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
24,Senior Data Engineer,Siemens Limited,2-6 Yrs,Bangalore/Bengaluru
25,Sr . Data Scientist,Bidgely Technologies Private Limited,4-6 Yrs,Bangalore/Bengaluru
26,Data Scientist,Shiras Consulting Pvt. Ltd.,5-10 Yrs,Bangalore/Bengaluru
27,Senior Systems Analyst,Brambles,7-10 Yrs,Bangalore/Bengaluru
28,Sr Data Scientist,krtrimaIQ AI Solutions,5-8 Yrs,Bangalore/Bengaluru
29,Sr Data Scientist,krtrimaIQ AI Solutions,5-8 Yrs,Bangalore/Bengaluru
30,Data Scientist,krtrimaIQ AI Solutions,3-5 Yrs,Bangalore/Bengaluru
31,Sales Operations Analyst,Varite,5-10 Yrs,Bangalore/Bengaluru
32,BI Analyst,Xpheno,4-7 Yrs,Bangalore/Bengaluru
33,Data Scientist,"ANMUTSOLUTIONS Pvt,Ltd.",3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
34,Data Scientist,Paktolus solutions,3-5 Yrs,Bangalore/Bengaluru
35,Digital Marketing Analyst,Pin Click Property Management Pvt. Ltd,1-3 Yrs,Bangalore/Bengaluru(Domlur)
36,Snr Data Scientist - NBFC,Angel & Genie,5-10 Yrs,Bangalore/Bengaluru
37,Analyst,Bridgegap Consultants,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
38,Data Scientist,Glance IT Solution,3-6 Yrs,Bangalore/Bengaluru
39,Data Scientist,BizViz Technologies Pvt. Ltd.,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
40,Digital Marketing Analyst,REALBRIDGE e-Marketing Solutions Pvt Ltd,1-3 Yrs,Bangalore/Bengaluru
41,Business Systems Analyst 2,Publicis Groupe,3-5 Yrs,Bangalore/Bengaluru
42,Software Data Engineer,ENCORA INNOVATION LABS INDIA PRIVATE LIMITED,5-7 Yrs,Bangalore/Bengaluru
43,Analyst Procurement (Electronics),AARNA HR SOLUTIONS PVT. LTD.,2-5 Yrs,Bangalore/Bengaluru
44,Senior Business Analyst - Merchandising Analytics,Landmark Online,5-7 Yrs,Bangalore/Bengaluru
45,Analyst,Infiniti Research Limited,4-9 Yrs,Bangalore/Bengaluru
46,Web Analyst,Avnet Technology Solutions (I) Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
47,Senior Business Analyst - Merchandising Analytics,Landmark Online,5-7 Yrs,Bangalore/Bengaluru
48,Assistant Manager/ Deputy Manager- Business An...,Kauvery Hospitals ( Bengaluru) Pvt Ltd,5-7 Yrs,Bangalore/Bengaluru(Electronics City Phase 1)
49,Technology Market Analyst,Canalys,1-2 Yrs,Bangalore/Bengaluru
50,Data Engineer & Simulation Professional,Siemens Limited,3-5 Yrs,Bangalore/Bengaluru
51,"Sr. Security Analyst, Identity & Access Manage...",Sony Corporation of America,4-6 Yrs,Bangalore/Bengaluru
52,Workday HRIS Associate Analyst,Momentive Performance Materials Inc.,2-6 Yrs,Bangalore/Bengaluru
53,Senior HRIS Analyst,Ametek Instruments India Private Limited,5-7 Yrs,Bangalore/Bengaluru
54,Senior System Analyst,WSAudiology,3-5 Yrs,Bangalore/Bengaluru
55,Operations Analyst,Benaka Business Consultancy,4-6 Yrs,Bangalore/Bengaluru
56,Senior Analyst - Adobe Implementation,Course5i intelligence pvt ltd,3-6 Yrs,Bangalore/Bengaluru
57,"Sr. Security Analyst, Identity & Access Manage...",Sony India Software Center,4-6 Yrs,Bangalore/Bengaluru
58,Senior Video Analyst,Innovary Technologies,1-3 Yrs,Bangalore/Bengaluru
59,Bioinformatics Analyst,Global Talent Pool,2-3 Yrs,Bangalore/Bengaluru

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [107]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.naukri.com/')
search_box=driver.find_element_by_id('qsb-keyword-sugg')
search_box.send_keys('Data Analyst')
location_name=driver.find_element_by_id("qsb-location-sugg")
location_name.send_keys('Bangalore')
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()
with open('All Job list with description from Noukri web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Job Titles', 'Company Name', 'Experiance','Job Locations','Job Description'])
    for n in range(0,3):
        driver1 = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
        for i in driver.find_elements_by_xpath("//div[@class='jobTupleHeader']"):
            if len(i.text.split('\n'))==5:
                row_lis=i.text.split('\n')
                row_lis.pop(3)
                driver1.get(i.find_element_by_xpath('div/a').get_attribute('href'))
                time.sleep(5)
                try:
                    row_lis.append(driver1.find_element_by_xpath("//div[@class='dang-inner-html']").text)
                except:
                    row_lis.append(driver1.find_element_by_xpath("//div[@itemprop='description']").text)
                writer.writerow(row_lis)
            else:
                row_lis=i.text.split('\n')
                row_lis.pop(2)
                row_lis.pop(2)
                row_lis.pop(3)
                driver1.get(i.find_element_by_xpath('div/a').get_attribute('href'))
                time.sleep(5)
                try:
                    row_lis.append(driver1.find_element_by_xpath("//div[@class='dang-inner-html']").text)
                except:
                    row_lis.append(driver1.find_element_by_xpath("//div[@itemprop='description']").text)
                writer.writerow(row_lis)
        time.sleep(5)
        driver1.close()
        driver.get(driver.find_element_by_xpath("//a[@class='fright fs14 btn-secondary br2']").get_attribute('href'))
f.close()

In [108]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Job list with description from Noukri web site.csv')

,Job Titles,Company Name,Experiance,Job Locations,Job Description
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,4-8 Yrs,Bangalore/Bengaluru,About the team\nGroup Internal Audit is Flipka...
1,Data Analyst,Super India Tech Mark,0-2 Yrs,Bangalore/Bengaluru(Devalapur),Roles and Responsibilities\nBuilding and itera...
2,Data Analyst,tech mahindra ltd,4-8 Yrs,Bangalore/Bengaluru,Lists role title\n\nData Management Analyst\n\...
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs,Bangalore/Bengaluru,Job Description\nSite Name: India - Karnataka ...
4,Data Analyst,Xiaomi,2-6 Yrs,Bangalore/Bengaluru,Roles and Responsibilities\nWill be responsibl...
5,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,2-7 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...","KeywordData Analysis ,BI , SQL\nJob Descriptio..."
6,Senior Data Analyst,Cerner,3-5 Yrs,Bangalore/Bengaluru,Roles and Responsibilities\nAs a Senior Data A...
7,Data Analyst with Marketing Analytics-Capco,Capco Technologies Pvt Ltd,4-9 Yrs,"Pune, Bangalore/Bengaluru",Data Analyst with Marketing Analytics\n\nJob D...
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-7 Yrs,"Mumbai, Bangalore/Bengaluru",Business Title/Designation - Senior Associate ...
9,Junior Data Analyst,Happy Marketer Private Ltd,1-3 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Were looking for a Data analyst with 1-2 years...
10,SAS Data Analyst,Diverse Lynx,2-6 Yrs,Bangalore/Bengaluru,"Key skills:\nSAS Analyst\nSQL, Excel, Tableau,..."
11,Optimize Overseas LLC - Oil & Gas Data Analyst,Optimize Overseas LLC,0-3 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Type of Position:\nWork From Home\nFresher/New...
12,Data Analyst - I,Novel Office,0-3 Yrs,Bangalore/Bengaluru,Basic Data entry operation\nData uploading and...
13,Data Analyst / Business Analyst,LatentView Analytics Private Limited,1-6 Yrs,"Chennai, Bangalore/Bengaluru","Job Description\nHi All,\n\nWe are hiring pass..."
14,Demand Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,3-5 Yrs,Bangalore/Bengaluru,Title: Demand Data Analyst\nIntroduction\nProv...
15,Supply Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,3-5 Yrs,Bangalore/Bengaluru,Introduction\nProvide creative solutions to co...
16,Commerce Data Analyst,AbsolutData Research Analytics Solutions Pvt. Ltd,2-5 Yrs,Bangalore/Bengaluru,Commerce Data Analyst\nCommerce Data Analyst i...
17,Data Analyst,ExecBoardinAsia,5-10 Yrs,Bangalore/Bengaluru,You are proficient in creating different data ...
18,Data Analyst,Cerner Corporation,1-4 Yrs,Bangalore/Bengaluru,Job Description\nCerner s Data Science Center ...
19,Sr. Data Analyst/Principal Analyst/Associate D...,Clarivate Analytics (TRCPL Projects Pvt Ltd.),3-8 Yrs,Bangalore/Bengaluru,We are looking for a savvy Data Engineer to jo...
20,Business Data Analyst,Jebpo Services Llp,3-6 Yrs,Bangalore/Bengaluru,Roles and Responsibilities\nPrimarily working ...
21,Sr. Data Analyst/Principal Analyst/Associate D...,Clarivate Analytics (TRCPL Projects Pvt Ltd.),3-8 Yrs,Bangalore/Bengaluru,We are looking for a savvy Data Engineer to jo...
22,Senior Data Analyst,NIUM INDIA PRIVATE LIMITED,3-5 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Where do you come into the picture?\n\nAs Seni...
23,Data Analyst/Scientist,TRH Consultancy Services,5-10 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Extract various types of data like red op-mode...
24,Data Analyst/Scientist_Mumbai/Pune/Bangalore/C...,Jobs Territory,4-7 Yrs,"Chennai, Bangalore/Bengaluru",Data Analyst/Scientist\nJob Location Mumbai/Pu...
25,Data Analyst,Prodapt Solutions Private Limited,4-9 Yrs,"Chennai, Bangalore/Bengaluru",Job Description\n\nPrimary Skills:\n\nExtensiv...
26,Looking For Data Analyst,Xome Services India Private Limited.,2-7 Yrs,"Chennai, Bangalore/Bengaluru","Must have Skills: SQL, SSRS, SSIS/ Power BI\n\..."
27,Business Data Analyst - Data Structure & Quality,Catalyst,2-5 Yrs,Bangalore/Bengaluru,Roles and Responsibilities\nJob Description :\...
28,Business Data Analyst - Data Structure & Quality,Catalyst,2-5 Yrs,Bangalore/Bengaluru,Job Description :\n\n- Developing analytic mod...
29,Data Analyst,Clarivate Analytics (TRCPL Projects Pvt Ltd.),3-6 Yrs,Bangalore/Bengaluru,Description:\nDRG (Part of Clarivate) is looki...
30,Senior Data Analyst,Publicis Groupe,5-8 Yrs,Bangalore/Bengaluru,The Analytic Consulting Group partners with bo...
31,Data Analyst 2,Publicis Groupe,2-5 Yrs,Bangalore/Bengaluru,The Analytic Consulting Group partners with bo...
32,Senior Data Analyst,BRIDGETREE RESEARCH SERVICES PRIVATE LIMITED,5-7 Yrs,Bangalore/Bengaluru(Whitefield),We have an urgent opening in our organization ...
33,Data Analyst,Colliers International India Property Service ...,2-6 Yrs,Bangalore/Bengaluru,Job Description\nThe Data Analyst role require...
34,BI / Data Analyst (Power BI),Technicolor Animation & Games,3-7 Yrs,Bangalore/Bengaluru,Job Description\nThe Business Intelligence (BI...
35,Data Analyst,Cerner,1-2 Yrs,Bangalore/Bengaluru,"Roles and Responsibilities\nAs a Data Analyst,..."
36,Data Analyst,Publicis Groupe,3-5 Yrs,Bangalore/Bengaluru,Job Description\nThe Analytic Consulting Group...
37,Senior Data Analyst,Publicis Groupe,1-3 Yrs,Bangalore/Bengaluru,Why we are looking for you\nYour pace of the w...
38,Data Analyst 2,Publicis Groupe,2-5 Yrs,Bangalore/Bengaluru,Job Description\nA Data Analyst is accountable...
39,Senior Data Analyst C5,HyreFox Consultants Pvt Ltd,10-15 Yrs,Bangalore/Bengaluru,"Working with other Teams ( Dev, BI, Business) ..."
40,Associate Data Processing Analyst,E2open,0-2 Yrs,Bangalore/Bengaluru,Responsible for data analysis and processing T...
41,Data Acquisition Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,Bangalore/Bengaluru,Job Description\nThe Data Acquisition Analyst ...
42,Senior Data Analyst- DWBI,Kelly Outsourcing and Consulting Group India P...,6-11 Yrs,Bangalore/Bengaluru,The Senior Data Analyst works with business us...
43,Data Analyst / Sr. Data Analyst / Lead,LOGICAL HIRING,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR",Role: Data Analyst / Sr. Data Analyst / Lead\n...
44,Senior Data Analyst - eCommerce - IIT/NIT/BITS,Pinnacle Solutions,2-6 Yrs,Bangalore/Bengaluru,"Job Description:\n- Interpret data, analyze re..."
45,Assistant Manager - Data Analyst - KPO,Huquo Consulting Pvt. Ltd,3-6 Yrs,Bangalore/Bengaluru,Roles and Responsibilities\nBasic Function\n\n...
46,Manager - Data Analyst - KPO,Huquo Consulting Pvt. Ltd,5-9 Yrs,Bangalore/Bengaluru,Basic Function\n\n- Work alongside teams withi...
47,Data Analyst,SRS Infoway,3-8 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...","Hi,\n\nWe have a requirement for Data Analyst ..."
48,SeniorRegular Data Analyst,Luxoft,0-1 Yrs,Bangalore/Bengaluru,"We are looking for a confident, creative and c..."
49,Data Analyst,Wono Inc,1-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",We are looking to hire a Remote Data Analyst t...
50,Data Analyst,TresVista Financial,0-1 Yrs,"Mumbai, Pune, Bangalore/Bengaluru",Key Responsibilities :\nUnderstanding the need...
51,Data Analyst with E commerce Company,Kelly Services India Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru,The role is with one of the leading ECommerce ...
52,Data Analyst,Catalyst,1-3 Yrs,Bangalore/Bengaluru,"Interpret data, analyze results using statisti..."
53,Data Analyst - Python/ R,e-Hireo Global Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru,Experience : 2-4 Years.\n\nLocation : Bangalor...
54,"Data Analyst [Python / R, SQL] @ Bangalore",Kelly Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru,WIILING TO WORK ON KELLYS PAYROLL.\nIMMEDIATE ...
55,Data Analyst,Talent Connect,1-3 Yrs,"Bangalore/Bengaluru, KA","Roles and Responsibilities\nInterpret data, an..."
56,Data Analyst,Talent Connect,1-3 Yrs,Bangalore/Bengaluru,"Roles and Responsibilities\nInterpret data, an..."
57,Data Analyst,Flex-i Partners,3-6 Yrs,Bangalore/Bengaluru,Looking for a candidate from Big4 as a Financi...
58,Data Analyst,PRIMUS Global Technologies Private Limited,3-8 Yrs,Bangalore/Bengaluru,"Roles and Responsibilities\nData Analyst,VBA,M..."
59,Lead - Data Integration Consultant - Informati...,Huquo Consulting Pvt. Ltd,8-12 Yrs,Bangalore/Bengaluru,"Job Description\n\nPosition Title, Responsibil..."

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [258]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.naukri.com/')
search_box=driver.find_element_by_id('qsb-keyword-sugg')
search_box.send_keys('Data Scientist')
location_name=driver.find_element_by_id("qsb-location-sugg")
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()
time.sleep(1)
driver.find_element_by_xpath("//div[@data-filter-id='citiesGid']/div[2]").click()
time.sleep(1)
driver.find_element_by_xpath("//div[@data-filter-id='salaryRange']/div[2]").click()
time.sleep(1)
with open('All Job list with filters from Noukri web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Job Titles', 'Company Name', 'Experiance','Job Locations','Job Description'])
    for n in range(0,2):
        driver1 = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
        for i in driver.find_elements_by_xpath("//div[@class='jobTupleHeader']"):
            if len(i.text.split('\n'))==5:
                row_lis=i.text.split('\n')
                row_lis.pop(3)
                driver1.get(i.find_element_by_xpath('div/a').get_attribute('href'))
                time.sleep(3)
                try:
                    row_lis.append(driver1.find_element_by_xpath("//div[@class='dang-inner-html']").text)
                except:
                    row_lis.append(driver1.find_element_by_xpath("//div[@itemprop='description']").text)
                writer.writerow(row_lis)
            else:
                row_lis=i.text.split('\n')
                row_lis.pop(2)
                row_lis.pop(2)
                row_lis.pop(3)
                driver1.get(i.find_element_by_xpath('div/a').get_attribute('href'))
                time.sleep(2)
                try:
                    row_lis.append(driver1.find_element_by_xpath("//div[@class='dang-inner-html']").text)
                except:
                    row_lis.append(driver1.find_element_by_xpath("//div[@itemprop='description']").text)
                writer.writerow(row_lis)
        time.sleep(2)
        driver1.close()
        driver.find_element_by_xpath("//i[@class='naukicon naukicon-arrow ml-8 fleft fs16']").click()
        time.sleep(3)

f.close()

In [262]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Job list with filters from Noukri web site.csv')

,Job Titles,Company Name,Experiance,Job Locations,Job Description
0,Developer - Data Science,ICL Systems India Private Limited,3-5 Yrs,Delhi / NCR,This position will be responsible for developi...
1,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,4-9 Yrs,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Job Description\nRoles and Responsibilities - ...
2,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,5-10 Yrs,"Mumbai, Ghaziabad",- Proven experience as a Data Scientist or Dat...
3,Business Consultant Data Scientist,StriveX Consulting Pvt. Ltd,2-4 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Roles and Responsibilities\nGeneral responsibi...
4,Data Scientist,Amity University,6-8 Yrs,"Ghaziabad, Faridabad, Delhi / NCR",Job Description\nRoles and Responsibilities\nD...
5,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Roles and Responsibilities\nExperience : 3+ Ye...
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Roles and Responsibilities\nExperience : 3+ Ye...
7,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Roles and Responsibilities\nExperience : 4+ Ye...
8,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Roles and Responsibilities\nExperience : 3+ Ye...
9,Data Scientist - Machine Learning/ NLP,TalPro,2-6 Yrs,Gurgaon/Gurugram,Roles and Responsibilities\nJob Description:\n...
10,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,1-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR",Roles and Responsibilities\nDerive data based ...
11,Data Scientist | Python | Machine Learning | D...,Careerera,3-8 Yrs,Noida(Sector-59 Noida),.\nHR: 8076295886\n\n1. Conduct online and cla...
12,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,6-11 Yrs,Noida,"6/9+ Years in IT purely on Data, Artificial In..."
13,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,6-11 Yrs,Noida,"6/9+ Years in IT purely on Data, Artificial In..."
14,Data Scientist,NatWest Group,4-8 Yrs,Gurgaon/Gurugram,Join us as a Data Scientist\nYou’ll be identif...
15,Junior Data Scientist/TA,WSD CONSULTANT PRIVATE LIMITED,1-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Ques: Does the candidate has strong knowledge ...
16,Data Scientist,NatWest Group,4-8 Yrs,Delhi / NCR,Join us as a Data Scientist\nYoull be identify...
17,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...","Responsibilities\nSelecting features, building..."
18,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,3-5 Yrs,Gurgaon/Gurugram,Roles and Responsibilities\nGreetings from Rub...
19,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,3-5 Yrs,Gurgaon/Gurugram,Roles and Responsibilities\nGreetings from Rub...
20,Data Scientist - IT,Ehireo,4-9 Yrs,Gurgaon/Gurugram,Required Qualification : B.Tech/ M.Tech/ MS fr...
21,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Structure the available data to be able to bet...
22,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon/Gurugram,Data Scientist Machine Learning Apply Descript...
23,Senior Data Scientist,iNICU,1-5 Yrs,New Delhi,Senior Data Scientist We are inviting applicat...
24,Data Scientist,Mahajan Imaging,2-6 Yrs,New Delhi,Responsible for driving Mahajan Imaging's new ...
25,Data Scientist,Mahajan Imaging,2-6 Yrs,New Delhi,Responsible for driving Mahajan Imaging's new ...
26,Junior Data Scientist,ZIGRAM DATA TECHNOLOGIES PRIVATE LIMITED,2-5 Yrs,Gurgaon/Gurugram,Job Requirements\n\nHighly focused individual ...
27,Data Scientist,VBPO India Pvt Ltd.,3-6 Yrs,"Mumbai, Delhi / NCR",Build and evaluate predictive and decision mod...
28,Data Scientist,T & A Solutions,1-6 Yrs,Gurgaon/Gurugram,Data Scientist for Gurgaon |\nResponsibilities...
29,Data Scientist,itForte Staffing Services Private Ltd.,3-8 Yrs,Gurgaon/Gurugram,Our client is seeking a creative Data Scientis...
30,Data Scientist with Product Based Company @ De...,PYC Consultants,3-6 Yrs,Delhi / NCR,Proven experience as a data scientist\nExperie...
31,Associate Data Scientist,Blow Trumpet Solutions,1-5 Yrs,New Delhi,"As an associate data scientist, you ll be resp..."
32,Associate Data Scientist,Right Step Consulting,3-6 Yrs,Noida,Brief Role : Associate (data Scientist)\n\nExp...
33,data scientist - biotechnology Jobs,Right Step Consulting,2-5 Yrs,New Delhi,Brief Role : Job Description\nConducting direc...
34,Data Analyst/Scientist,itForte Staffing Services Private Ltd.,3-7 Yrs,Gurgaon/Gurugram,Data Analyst/ Scientist my itForte - Job Detai...
35,Data Scientist,NOVIQUE HEALTH,2-7 Yrs,"Mumbai, New Delhi, Pune",Novique is a revolutionary online clinic start...
36,Data Scientist,PEOPLE STAFFING SOLUTIONS,3-6 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Roles and Responsibilities \nGround up Data un...
37,Data Scientist,Dewi,2-7 Yrs,Gurgaon/Gurugram,We are looking for a data scientist to join ou...
38,Data Scientist,Msg.ai,3-5 Yrs,Gurgaon/Gurugram,Job Description:\n\nDo you believe in the miss...
39,Data Scientist,Blue Sky Analytics,1-6 Yrs,Gurgaon/Gurugram,Responsibilities :\nDevelop dataframes automat...
40,Data Scientist,Shadowfax Technologies Pvt. Ltd.,1-3 Yrs,Gurgaon/Gurugram,Key Skills\n\nSolid data-mining and analytical...

#### Q4: Write a python program to scrape data for first 10 job results for Data scientistDesignation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [ ]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.glassdoor.com/Job/jobs.htm?')
driver.find_element_by_id("KeywordSearch").send_keys('Data Scientist')
loc_box=driver.find_element_by_id("LocationSearch")
loc_box.clear()
loc_box.send_keys('Noida India')
driver.find_element_by_id('HeroSearchButton').click()
time.sleep(3)
with open('All Job list from Glassdoor web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Company Name', 'Company Ratings','No of days ago posted'])     
    for i,j in zip(driver.find_elements_by_xpath("//div[@class='d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4']"),driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")):
        try:
            rating=j.find_element_by_xpath("span").text
        except:
            rating="0.0"
        val=i.text.split('\n')[0],rating,i.text.split('\n')[-1]
        writer.writerow(list(val))

f.close()

In [472]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Job list from Glassdoor web site.csv')

                       Company Name  Company Ratings No of days ago posted
0                Ericsson-Worldwide              4.1                    2d
1                          Elsevier              4.3                    7d
2                    Biz2Credit Inc              3.8                    2d
3                             Adobe              4.4                   24h
4      Salasar New Age Technologies              0.0                    5d
5                          xtLytics              3.0                    7d
6       Srijan Technologies Pvt Ltd              3.9                   26d
7                UnitedHealth Group              3.6                   27d
8                           itForte              5.0                   21d
9                   Dürr Somac GmbH              0.0                   12d
10                         Fitfyles              0.0                   21d
11                  Priority Vendor              3.7                   21d
12                  Healtheoz India              4.8                   21d
13                  abc consultants              4.2                   22d
14                   WSD Consultant              0.0                    1d
15                            Ciena              4.4                   27d
16                          WishFin              3.8                    4d
17           Dürr IT Services India              3.9                   12d
18                         Techlive              5.0                   27d
19             Gauge Data Solutions              3.1                   21d
20     Salasar New Age Technologies              0.0                    5d
21                  SearchUrCollege              0.0                   21d
22                        Microsoft              4.4                   12d
23                   Team Computers              4.2                    9d
24                              NCR              3.6                    7d
25                         xtLytics              3.0                    7d
26                    NatWest Group              3.9                    9d
27  ANI Calls India Private Limited              0.0                   17d
28                Profisor Services              4.5                   21d
29        Unyscape Infocom Pvt. Ltd              4.1                   24h
30                  Mahajan Imaging              4.0                   21d
31                 Analytics Vidhya              4.1                   21d

#### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [ ]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')
driver.find_element_by_id("KeywordSearch").send_keys('Data Scientist')
loc_box=driver.find_element_by_id("LocationSearch")
loc_box.clear()
loc_box.send_keys('Noida India')
driver.find_element_by_id('HeroSearchButton').click()
time.sleep(3)
with open('All Salaries from Glassdoor web site.csv','w') as f:
    header=['Company Name', 'Average Salary','Minimum Salary','Maximum Salary','No of Salary']
    writer=csv.DictWriter(f, fieldnames = header)
    writer.writeheader()
    for i,j,k in zip(driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]"),driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"),driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")):
        writer.writerow({
            'Company Name':i.text.split("\n")[1],
            'Average Salary':j.text.split('₹ ')[1].replace("\n",' '),
            'Minimum Salary':k.text.split('\n')[0],
            'Maximum Salary':k.text.split('\n')[1],
            'No of Salary':i.text.split("\n")[2]
        })

f.close()

In [473]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Salaries from Glassdoor web site.csv')

,Company Name,Average Salary,Minimum Salary,Maximum Salary,No of Salary
0,Tata Consultancy Services,"6,01,000 /yr",₹336L,"₹1,080L",14 salaries
1,Accenture,"11,51,207 /yr",₹579L,"₹2,222L",14 salaries
2,Delhivery,"12,34,207 /yr",₹452L,"₹11,669L",14 salaries
3,IBM,"7,63,825 /yr",₹589L,"₹2,741L",13 salaries
4,Ericsson-Worldwide,"7,32,209 /yr",₹350L,"₹1,619L",12 salaries
5,UnitedHealth Group,"13,88,910 /yr","₹1,050L","₹1,500L",10 salaries
6,Valiance Solutions,"8,18,515 /yr",₹504L,"₹1,471L",9 salaries
7,Innovaccer,"12,01,403 /yr",₹623L,"₹1,702L",8 salaries
8,ZS Associates,"10,00,000 /yr",₹203L,"₹1,817L",7 salaries
9,EXL Service,"11,90,000 /yr",₹578L,"₹1,500L",7 salaries
10,Cognizant Technology Solutions,"10,11,517 /yr",₹796L,"₹1,268L",6 salaries
11,Optum,"13,00,000 /yr",₹811L,"₹1,959L",6 salaries
12,Tech Mahindra,"10,57,010 /yr",₹400L,"₹1,680L",5 salaries
13,OYO,"14,18,839 /yr",₹975L,"₹1,891L",5 salaries
14,Optum Global Solutions,"13,00,000 /yr","₹1,000L","₹2,158L",5 salaries
15,Algo8.ai,"6,75,000 /yr",₹86L,"₹1,363L",5 salaries
16,Genpact,"5,77,854 /yr",₹166L,"₹2,200L",4 salaries
17,Bharti Airtel,"12,50,000 /yr",₹730L,"₹2,101L",4 salaries
18,Nagarro,"9,82,787 /yr",₹634L,"₹1,129L",4 salaries
19,Sprinklr,"15,38,205 /yr","₹1,538L","₹3,250L",4 salaries

#### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [316]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.flipkart.com/')
search_box=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_box.send_keys('sunglasses')
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
with open('All Sunglasses from Flipkart web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Brand Name', 'Product Description','Discount %','Price'])
    for n in range(1,5):
        for i in driver.find_elements_by_xpath("//div[@class='_2B099V']"):
            lis=i.text.split('\n')
            if len(lis)==3:
                discount=i.text.split('\n')[2][-7:]
                price = i.text.split('\n')[2].split('₹')[1]
                lis.pop()
                lis=lis+[discount,price]
            else:
                lis.pop()
                discount=i.text.split('\n')[2][-7:]
                price = i.text.split('\n')[2].split('₹')[1]
                lis.pop()
                lis=lis+[discount,price]
            time.sleep(1)
            writer.writerow(lis)
        time.sleep(2)
        if driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[11]").text=="NEXT":
            driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[11]").click()
        else:
            driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()
        time.sleep(1)
f.close()

In [317]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Sunglasses from Flipkart web site.csv')

,Brand Name,Product Description,Discount %,Price
0,Fastrack,UV Protection Shield Sunglasses (Free Size),15% off,759
1,Fastrack,UV Protection Aviator Sunglasses (58),14% off,"1,115"
2,DEIXELS,UV Protection Round Sunglasses (Free Size),76% off,189
3,PIRASO,UV Protection Aviator Sunglasses (50),80% off,314
4,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",79% off,198
...,...,...,...,...
115,Fravy,"UV Protection, Others Retro Square Sunglasses ...",82% off,269
116,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (55)",86% off,270
117,Aislin,"UV Protection Wayfarer, Rectangular Sunglasses...",73% off,"1,135"
118,NuVew,"UV Protection, Mirrored Clubmaster Sunglasses ...",78% off,185
119,ROYAL SON,UV Protection Retro Square Sunglasses (49),66% off,664

#### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have togo the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage.

In [312]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
time.sleep(1)
with open('All Iphone 11 Reviews from Flipkart web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Rating', 'Short Review','Full Review'])
    for n in range(1,5):
        for a in driver.find_elements_by_xpath("//span[@class='_1BWGvX']"):
            a.click()
            time.sleep(1)
        for i,j in zip(driver.find_elements_by_xpath("//div[@class='t-ZTKy']"),driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]")):
            time.sleep(2)
            lis_row=j.text.split('\n')
            lis_row.append(i.text)
            writer.writerow(lis_row)
        time.sleep(2)
        if driver.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']/nav/a[11]").text=="NEXT":
            driver.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']/nav/a[11]").click()
        else:
            driver.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']/nav/a[12]").click()
        time.sleep(3)
f.close()

In [315]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Iphone 11 Reviews from Flipkart web site.csv')

,Rating,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
5,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
6,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
7,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
8,5,Fabulous!,This is my first iOS phone. I am very happy wi...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
10,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
11,5,Worth every penny,It’s been almost a month since I have been usi...
12,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
13,4,Nice product,Awesome Phone. Slightly high price but worth. ...
14,5,Terrific,Really worth of money. i just love it. It is t...
15,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
16,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
17,5,Wonderful,This is my first ever I phone. Before this I w...
18,5,Must buy!,It’s an amazing product from apple and the cam...
19,5,Mind-blowing purchase,This will help you more. See if you are planni...
20,5,Great product,Well you all know the specifications . One of ...
21,5,Terrific purchase,The built quality is not very premium.\nThe ba...
22,5,Simply awesome,Really good actually this is my first apple pr...
23,4,Good quality product,it is very good at performance. Camera is best...
24,1,Very poor,Reviewing again after 5 months. At the beginni...
25,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
26,5,Highly recommended,It's my first time to use iOS phone and I am l...
27,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
28,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
29,5,Wonderful,I just directly switch from iphone 6s to iphon...
30,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
31,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
32,5,Classy product,Well while switching from android to iOS the f...
33,5,Perfect product!,"In love with this iphone great performance,cam..."
34,5,Just wow!,Best in class. Battery backup is good especial...
35,5,Awesome,Very excited to have this phone. This phone ha...
36,4,Good choice,So far it’s been an AMAZING experience coming ...
37,5,Terrific purchase,Its Very awesome product working and good came...
38,5,Perfect product!,After 1 month use I found camera quality best ...
39,5,Highly recommended,What a camera .....just awesome ..you can feel...

#### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [318]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.flipkart.com/')
search_box=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_box.send_keys('sneakers')
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
with open('All Sneakers from Flipkart web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Brand Name', 'Product Description','Discount %','Price'])
    for n in range(1,5):
        for i in driver.find_elements_by_xpath("//div[@class='_2B099V']"):
            lis=i.text.split('\n')
            if len(lis)==3:
                discount=i.text.split('\n')[2][-7:]
                price = i.text.split('\n')[2].split('₹')[1]
                lis.pop()
                lis=lis+[discount,price]
            else:
                lis.pop()
                discount=i.text.split('\n')[2][-7:]
                price = i.text.split('\n')[2].split('₹')[1]
                lis.pop()
                lis=lis+[discount,price]
            time.sleep(1)
            writer.writerow(lis)
        time.sleep(2)
        if driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[11]").text=="NEXT":
            driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[11]").click()
        else:
            driver.find_element_by_xpath("//div[@class='_2MImiq']/nav/a[12]").click()
        time.sleep(1)
f.close()

In [319]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Sneakers from Flipkart web site.csv')

,Brand Name,Product Description,Discount %,Price
0,Zorth,Sneakers For Men,38% off,612
1,Zsyto,Sneakers For Men,77% off,298
2,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,58% off,829
3,BRUTON,Combo Pack Of 4 Casual Sneakers For Men,88% off,474
4,Imcolus,Sneakers For Men,53% off,464
...,...,...,...,...
115,Adiso,Casual shoes Sneakers For Men,60% off,399
116,SHOEFLY,Combo Men Pack of 2 Loafers Shoes Sneakers For...,60% off,399
117,Creer,STYLISH Sneakers For Men,60% off,398
118,Qtsy,Stylish Design Sneakers Shoes Combo For Men & ...,50% off,396
119,aadi,Sneakers For Men,60% off,399

#### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [359]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.myntra.com/')
search_box=driver.find_element_by_xpath("//input[@class='desktop-searchBar']")
search_box.send_keys('sneakers')
driver.find_element_by_xpath("//a[@class='desktop-submit']").click()
time.sleep(1)
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(1)
driver.find_element_by_xpath("//div[@class='vertical-filters-filters']/ul/li[2]/label/span[2]").click()
time.sleep(1)
with open('All Sneakers from Mintra web site.csv','w') as f: 
    writer = csv.writer(f) 
    writer.writerow(['Brand Name', 'Product Description','Price'])
    for n in range(1,5):
        for i in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']"):
            if len(i.text.split('\n'))==3:
                row_lis=i.text.split('\n')
                row_lis[-1]=row_lis[-1].split("Rs. ")[1]
                writer.writerow(row_lis)
            else:
                row_lis=i.text.split('\n')
                row_lis.pop()
                row_lis[-1]=row_lis[-1].split("Rs. ")[1]
                writer.writerow(row_lis)
        time.sleep(2)
        try:
            driver.find_element_by_xpath("//li[@class='pagination-next']").click()
        except:
            pass
        time.sleep(1)
f.close()

In [360]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Sneakers from Mintra web site.csv')

           Brand Name             Product Description  Price
0                Nike  Men AIR MAX INFINITY 2 Sneaker   8295
1                Nike              Men AF1/1 Sneakers  12495
2    ADIDAS Originals        Men NITE JOGGER Sneakers  11199
3      Tommy Hilfiger   Men Heritage Leather Sneakers   6749
4            Skechers      Women D'LITES 3.0 Sneakers   6999
..                ...                             ...    ...
158   PUMA Motorsport    Men Suede Speed Cat Sneakers   7999
159              ALDO       Men Woven Design Sneakers   9749
160    Onitsuka Tiger          Unisex Ohbori Sneakers   8999
161          Converse                 Unisex Sneakers   7499
162              Puma                    casual shoes   6999

[163 rows x 3 columns]

#### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” .After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [5]:
driver = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.amazon.in/')
search_box=driver.find_element_by_id("twotabsearchtextbox")
search_box.send_keys('lap tops')
driver.find_element_by_id('nav-search-submit-button').click()
with open('All Laptops from Amazon web site.csv','w') as f: 
    header = ['Title', 'Ratings','Price']
    writer = csv.DictWriter(f, fieldnames = header) 
    writer.writeheader() 
    for i in range(0,20):
        try:
            if driver.find_element_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li[{}]".format(2+i)).text=='Intel Core i7':
                driver.find_element_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li[{}]/span".format(2+i)).click()
                break
        except:
            break
    for j in range(0,20):
        try:
            if driver.find_element_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li[{}]".format(2+i)).text=='Intel Core i9':
                driver.find_element_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li[{}]/span".format(2+i)).click()
                break
        except:
            break
    time.sleep(3)
    for n in range(1,3):
        title=[]
        rating=[]
        price=[]
        for i,j,k in zip(driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"),driver.find_elements_by_xpath("//span[@class='a-price']"),driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")):
            title.append(k.text)
            price.append(j.text)
            try:
                driver1 = webdriver.Chrome('/home/pavankumar/Downloads/chromedriver_linux64/chromedriver')
                time.sleep(1)
                driver1.get(i.get_attribute("href"))
                time.sleep(1)
                rating.append(driver1.find_element_by_xpath("//span[@class='a-size-medium a-color-base']").text)
                driver1.close()
            except:
                rating.append("NONE")
                driver1.close()
        for t,r,p in zip(title,rating,price):
            writer.writerow({
                "Title":t,
                'Ratings':r,
                'Price':p,
            })
        time.sleep(2)
        driver.find_element_by_xpath("//li[@class='a-last']").click()
        time.sleep(4)
f.close()

In [4]:
pd.read_csv('/home/pavankumar/data_sci_dec/internship_projects/All Laptops from Amazon web site.csv')

                                                Title       Ratings      Price
0   (Renewed) HP ZBook 15 G3 Mobile Workstation - ...          NONE  ₹1,54,490
1   HP Pavilion (2021) Thin & Light 11th Gen Core ...  4.4 out of 5    ₹79,490
2   (Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...          NONE    ₹38,990
3   ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  4.4 out of 5    ₹77,990
4   HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...  4.6 out of 5    ₹76,500
5   LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...  3.5 out of 5    ₹40,990
6   Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  4.3 out of 5    ₹76,990
7   Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...  4.3 out of 5    ₹83,500
8   DELL Inspiron 5593 15.6-inch Laptop (10th Gen ...  3.8 out of 5    ₹35,990
9   LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...          NONE    ₹70,990
10  Lenovo Ideapad L340 Gaming Intel Core i7 9th G...  3.4 out of 5    ₹76,990
11  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...  3.9 out of 5  ₹3,11,729
12  HP OMEN X-ap046TX 17-inch FHD Gaming Laptop (I...  3.2 out of 5    ₹89,990
13  Dell G3 3500 Gaming Laptop 15.6-inch FHD 120 H...  4.1 out of 5  ₹3,89,990
14  MSI WS66, Intel 10th Gen. i7-10875H, 15.6" FHD...  2.5 out of 5  ₹2,39,638
15  ASUS ROG Zephyrus S GX531GW-ES009T 15.6-inch 1...    4 out of 5    ₹89,880
16  Coconics Xtreme C1714 Laptop, Intel® Core™ i7-...          NONE    ₹82,490
17  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...    4 out of 5  ₹1,94,990
18  ASUS ROG Zephyrus GX501GI-EI004T 15.6-inch FHD...  4.1 out of 5    ₹71,992
19  (Renewed) Lenovo Legion 5i 10th Gen Intel Core...    5 out of 5  ₹1,09,490
20  HP OMEN 10th Gen Intel Core i7 Processor 15.6-...  2.6 out of 5    ₹31,990
21  (Renewed) Dell Latitude E6540 Laptop (CORE I7 ...          NONE    ₹79,990
22  Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...  4.1 out of 5    ₹59,999
23  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.3 out of 5    ₹83,990
24  (Renewed) HP ZBook 15 G3 Mobile Workstation - ...          NONE  ₹1,87,490
25  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  4.4 out of 5    ₹96,990
26  HP Pavilion x360 (2021) 14" FHD Touchscreen La...  3.2 out of 5    ₹76,990
27  Asus ROG Strix G15 Core i7 10th Gen - (8 GB/51...          NONE    ₹84,990
28  (Renewed) ASUS ROG Zephyrus S GX531 15.6" FHD ...          NONE  ₹1,44,990
29  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...  4.6 out of 5    ₹85,990
30  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...          NONE    ₹86,990
31  Lenovo ThinkPad X1 Carbon Intel Core i7 10th G...          NONE  ₹1,79,490
32  Acer Swift 5 14" Full HD IPS Display with Touc...  4.1 out of 5    ₹91,999
33  HP OMEN 10th Gen Intel Core i7 Processor 15.6-...  3.8 out of 5  ₹1,09,999
34  Dell XPS 9370 13.3-inch FHD Display Thin & Lig...  2.8 out of 5  ₹1,08,990
35  ASUS TUF Dash F15 (2021), 15.6" FHD 240Hz/3ms,...  2.7 out of 5  ₹1,40,990
36  HP Pavilion Gaming 11th Gen Intel Core i7 Proc...          NONE    ₹83,128
37  (Renewed) Lenovo Ideapad L340 8th Gen Intel Co...          NONE    ₹51,990
38  (Renewed) DELL Latitude E6540 15.6-inch Laptop...          NONE    ₹38,999
39  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  4.3 out of 5  ₹1,35,490
40  Dell Inspiron 5370 13.3-inch FHD Laptop (Core ...  2.9 out of 5    ₹70,999
41  (Renewed) Dell Inspiron 5501 15.6 Inch FHD Lap...    5 out of 5    ₹75,990
42  Dell Inspiron 15 G3 3500 Gaming Laptop (10th G...    4 out of 5    ₹98,490
43  (Renewed) Lenovo Thinkpad X230 12.5-inch Lapto...          NONE    ₹37,999
44  ASUS ROG Zephyrus S17 (2020), 17.3" FHD 300Hz/...    2 out of 5  ₹2,34,990
45  Intel Core I7/16GB Ram/120GB SSD / 2TB Hard Di...          NONE    ₹28,999
46  ASUS ROG Zephyrus S17 (2020), 17.3" FHD 144Hz/...    5 out of 5  ₹1,37,990
47  (Renewed) Dell Latitude E5570 15-inch Laptop (...          NONE    ₹61,799
48  (Renewed) Dell Latitude E6540 15-inch Laptop (...  3.2 out of 5    ₹49,999